@import url('https://fonts.googleapis.com/css?family=Lato|Pathway+Gothic+One');

$sidebarBackground: #353e40;

$baseFontFamily: "Lato", "Helvetica Neue", Helvetica, sans-serif;

$baseFont: 14px/1.5 $baseFontFamily;

$headingFontFamily: 'Pathway Gothic One', sans-serif-condensed, Arial, "Trebuchet MS", "Lucida Grande", Tahoma, Verdana, sans-serif;

$headingFont: 14px/1.5 $headingFontFamily;

$textColor: #646464;

$greyText: #777;

$bottomShadow: 0px -3px 5px 5px rgba(0, 0, 0, 0.5);

$segmentShadow: 0 1px 3px rgba(0, 0, 0, 0.3);

$lightGrey: #f5f5f5;

// $warmGrey: #f5f5f1;

$paleGrey: rgba(240, 240, 237, 0.498039);

$warmGrey: rgb(240, 240, 237);

// $darkGrey: #353e40;

$darkGrey: #292929;

$midGrey: #484848;

$navBorder: 1px solid rgba(100, 100, 100, 0.3);

// $yellow: #FBBD08;
$yellow: #F4C91B;

$margin: 15px;

$padding: 15px;

$paddingLarge: 30px;
